<table class="m-auto game-table">
    <tr>
        <th class="cell">Yamb</th>
        <th class="cell heading" ng-repeat="column in columns">
            {{ column.abbreviation }}
        </th>
    </tr>
    <tr ng-repeat="row in rows">
        <th class="cell heading">
            {{ row.abbreviation }}
        </th>
        <td class="cell" ng-repeat="column in columns"
            ng-init="cellKey = row.abbreviation + '_' + column.abbreviation"
            ng-class="{
                'playable': cells[cellKey].isPlayable,
                'sum': !cells[cellKey].isPlayable,
                'available': cells[cellKey].isAvailable
            }"
            ng-bind="cells[cellKey].value"
            ng-click="cellClicked(cellKey)">
        </td>
    </tr>
</table>
