<div class="p-t-20 p-b-20">
    <div class="row">
        <div class="col-xs-12">
            <strong ng-bind="$ctrl.user.name || '? (anonymous)'"></strong>
        </div>
    </div>
    <div class="row m-t-10">
        <div class="col-xs-12 m-t-5">
            <span>Result: </span>
            <span ng-bind="$ctrl.game.result"></span>
        </div>
        <div class="col-xs-12 m-t-5">
            <span>Duration: </span>
            <span ng-bind="$ctrl.game.duration | formatValue : 'duration'"></span>
        </div>
        <div class="col-xs-12 m-t-5" ng-if="!$ctrl.isRecentGame">
            <span>Timestamp: </span>
            <span ng-bind="$ctrl.game.created_at"></span>
        </div>
    </div>
    <div class="row m-t-20">
        <div class="col-xs-12">
            <paper-static cells="$ctrl.cells" key="'value'"></paper-static>
        </div>
    </div>
</div>