body {
  text-align: center;
  background-color: lightblue; }

.m-auto {
  margin: auto; }

.die {
  width: 35px;
  height: 35px;
  text-align: center;
  border: 0 solid #000;
  border-radius: 5px;
  margin: 5px;
  display: inline-block;
  background-color: #fff;
  pointer-events: auto;
  cursor: pointer;
  -moz-box-shadow: 0 0 2px 0 #000;
  -webkit-box-shadow: 0 0 2px 0 #000;
  box-shadow: 0 0 2px 0 #000; }
  .die.locked {
    -moz-box-shadow: 0 0 2px 2px #f22;
    -webkit-box-shadow: 0 0 2px 2px #f22;
    box-shadow: 0 0 2px 2px #f22; }
  .die.disabled {
    pointer-events: none;
    cursor: default; }

.game-table {
  background-color: #fff;
  border-width: 1px;
  border-color: #000;
  border-style: solid;
  border-spacing: 2px;
  border-collapse: separate;
  border-radius: 5px; }
  .game-table .cell {
    width: 50px;
    height: 30px;
    max-width: 50px;
    max-height: 50px;
    border-width: 1px;
    border-color: #000;
    border-style: solid;
    border-radius: 5px;
    text-align: center;
    pointer-events: none;
    cursor: default; }
    .game-table .cell.playable {
      background-color: #999; }
    .game-table .cell.heading {
      background-color: #728; }
    .game-table .cell.sum {
      background-color: #673; }
    .game-table .cell.available {
      background-color: #f00;
      pointer-events: auto;
      cursor: pointer; }
