<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                data-toggle="collapse" data-target="#navbar-collapse"
                aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a ui-sref="root.home" class="navbar-brand">
                Yamb
            </a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul ng-repeat="side in ['left', 'right']" class="nav navbar-nav navbar-{{ side }}">
                <li ng-if="$last && user">
                    <a>{{ root.greeting + ', ' + user.name + '!' }}</a>
                <li>
                <li ng-repeat="state in root[side + 'States']" ng-class="{'active': (state.name | isState)}"
                    ng-hide="state.name === 'root.login' && user">
                    <a ui-sref="{{ state.name }}">{{ state.label }}</a>
                </li>
                <li ng-if="$last && user">
                    <a ng-click="root.logout()">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div ui-view></div>