<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed"
                data-toggle="collapse" data-target="#navbar-collapse"
                aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a ui-sref="root.home" class="navbar-brand">
                Yamb
            </a>
        </div>

        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul ng-repeat="side in ['left', 'right']" class="nav navbar-nav navbar-{{ side }}">
                <hr class="hidden-sm hidden-md hidden-lg" ng-if="$last">
                <li class="static" ng-if="$last && user">
                    <a>{{ root.greeting + ', ' + user.name + '!' }}</a>
                <li>
                <li ng-repeat="state in root[side + 'States']" ng-hide="user && side === 'right'"
                    ng-class="{'active': (state.name | isState)}"
                    data-toggle="collapse" data-target="#navbar-collapse">
                    <a ui-sref="{{ state.name }}">{{ state.label }}</a>
                </li>
                <li class="dynamic" ng-if="$last && user" data-toggle="collapse" data-target="#navbar-collapse">
                    <a ng-click="root.logout()">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div ui-view></div>