<h3>Play</h3>

<div class="row">
    <div class="col-xs-12" ng-if="!play.hasGameStarted">
        <button class="btn m-l-5 m-r-5" ng-repeat="diceOption in play.diceOptions track by $index"
            ng-class="{'active': play.selectedDiceOption === diceOption}"
            ng-click="play.setSelectedDiceOption(diceOption)">
            {{ diceOption.label }}
        </button>
    </div>

    <div class="col-xs-12 m-t-10" ng-if="!play.hasGameStarted">
        <button class="btn" ng-click="play.startGame()">
            Start
        </button>
    </div>

    <div class="col-xs-12">
        <die ng-repeat="i in play.diceIndices" index="{{ i }}"></die>
    </div>

    <div class="col-xs-12 m-t-10" ng-if="play.hasGameStarted">
        <button class="btn" ng-disabled="play.isInputRequired || play.isAnnouncementRequired"
            ng-click="play.roll()">
            Roll
        </button>
    </div>

    <div class="col-xs-12 m-t-10">
        <timer></timer>
    </div>

    <div class="col-xs-12 m-t-10">
        <span>Roll: {{ play.rollNumber }}</span>
    </div>

    <div class="col-xs-12 m-t-20">
        <paper-play></paper-play>
    </div>
</div>
