<div class="row text-center">
    <div class="col-xs-12 col-sm-12">
        <div class="col-xs-12">
            <die ng-repeat="i in play.diceIndices" index="{{ i }}"></die>
        </div>

        <div class="col-xs-12">
            <button class="btn" ng-click="play.roll()" ng-if="play.rollNumber !== 0"
                ng-disabled="play.isInputRequired || play.isAnnouncementRequired">
                Roll
            </button>
            <button class="btn" ng-click="play.startGame(5)" ng-if="play.rollNumber === 0">
                Start
            </button>
        </div>

        <timer class="col-xs-12"></timer>

        <div class="col-xs-12" ng-bind="play.rollNumber"></div>
    </div>

    <div class="col-xs-12 col-sm-12">
        <div class="col-xs-12">
            <paper-play></paper-play>
        </div>
    </div>
</div>
