<h3>Login</h3>

<form class="m-t-20" name="login.form">
    <div class="row">
        <div class="form-group col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
            <label class="sr-only" for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Email"
                ng-model="login.input.email" required>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
            <label class="sr-only" for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password"
                ng-model="login.input.password" required>
        </div>
    </div>
    <button class="btn btn-default" ng-click="login.confirm()" ng-disabled="login.form.$invalid">
        Confirm
    </button>
</form>