<table class="m-auto game-table">
    <tr>
        <th>!</th>
        <th ng-repeat="column in play.columns"
            class="heading-cell">
            {{ column.abbreviation }}
        </th>
    </tr>
    <tr ng-repeat="row in play.rows">
        <th class="heading-cell">
            {{ row.abbreviation }}
        </th>
        <td ng-repeat="column in play.columns"
            ng-bind="paper[row.abbreviation + '_' + column.abbreviation]"
            ng-class="{
                'input-cell': row.abbreviation.indexOf('sum') === -1,
                'sum-cell': row.abbreviation.indexOf('sum') !== -1
            }">
        </td>
    </tr>
</table>
