<h1>{{ signUp.title }}</h1>
<div class="container">
    <form name="signUp.form">
        <div class="form-group">
            <label class="sr-only" for="email">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Name"
                ng-model="signUp.input.name" required>
        </div>
        <div class="form-group">
            <label class="sr-only" for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Email"
                ng-model="signUp.input.email" required>
        </div>
        <div class="form-group">
            <label class="sr-only" for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password"
                ng-model="signUp.input.password" required pattern="^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$">
        </div>
        <div class="form-group">
            <label class="sr-only" for="confirmPassword">Confirm Password</label>
            <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm Password"
                ng-model="signUp.input.password_confirmation" required>
        </div>
        <button class="btn btn-default" ng-click="signUp.confirm()"
            ng-disabled="signUp.form.$invalid || signUp.input.password !== signUp.input.password_confirmation">
            Confirm
        </button>
    </form>
</div>