body {
    text-align: center;
    background-color: #7ac659;
}

.m-auto {
    margin: auto;
}

.collapse {
    li.static {
        @include pointer-disabled;
    }
    li.dynamic {
        @include pointer-enabled;
    }
}

.die {
    width: 35px;
    height: 35px;
    text-align: center;
    border: 0 solid #000;
    border-radius: $border-radius;
    margin: 5px;
    display: inline-block;
    background-color: #fff;
    @include pointer-enabled;
    @include box-shadow(0, 0, $dice-shadow-blur-radius, $dice-default-shadow-spread-radius, #000);

    &.locked {
        @include box-shadow(0, 0, $dice-shadow-blur-radius, $dice-locked-shadow-spread-radius, $basic-red);
    }

    &.inactive {
        @include pointer-disabled;
    }
}

.game-table {
    background-color: #fff;
    border-width: 1px;
    border-color: #000;
    border-style: solid;
    border-spacing: 2px;
    border-collapse: separate;
    border-radius: $border-radius;

    .cell {
        width: 50px;
        height: 30px;
        max-width: 50px;
        max-height: 50px;
        border-width: 1px;
        border-color: #000;
        border-style: solid;
        border-radius: $border-radius;
        text-align: center;
        @include pointer-disabled;

        &.playable {
            background-color: $input-cell-color;
        }

        &.heading {
            background-color: $heading-cell-color;
        }

        &.sum {
            background-color: $sum-cell-color;
        }

        &.available {
            @include box-shadow(0, 0, $available-cell-shadow-blur-radius, 0, $basic-red);
            @include pointer-enabled;
        }
    }
}

.table__clickable {
    text-decoration: underline;
    @include pointer-enabled;
}

.table th {
    text-align: center;
}

.validation-message {
    font-size: 0.9em;
    margin-right: 2px;
}
