@mixin pointer-disabled {
    pointer-events: none;
    cursor: default;
}

@mixin pointer-enabled {
    pointer-events: auto;
    cursor: pointer;
}

@mixin box-shadow($offsetX, $offsetY, $blurRadius, $spreadRadius, $color) {
    -moz-box-shadow: $offsetX $offsetY $blurRadius $spreadRadius $color;
    -webkit-box-shadow: $offsetX $offsetY $blurRadius $spreadRadius $color;
    box-shadow: $offsetX $offsetY $blurRadius $spreadRadius $color;
}