<h3 ng-bind="'Welcome' + (user ? ' ' + user.name : '')"></h3>

<div class="row m-t-20">
    <button class="btn btn-default btn-lg" ui-sref="root.play">
        Play
    </button>
</div>

<div class="row m-t-10" ng-if="!user">
    <button class="btn btn-default" ui-sref="root.register">
        Register
    </button>
    <button class="btn btn-default" ui-sref="root.login">
        Login
    </button>
</div>

<h4 class="m-t-20">Last game played</h4>

<div class="row m-t-10" ng-if="!home.lastGame">
    <div class="col-xs-12">
        <span>No games have been played!</span>
    </div>
</div>

<div class="row m-t-10" ng-if="home.lastGame">
    <div class="col-xs-12">
        <span>Player: </span>
        <span ng-if="home.lastGame.user" ng-bind="home.lastGame.user.name"></span>
        <span ng-if="!home.lastGame.user">? (anonymous)</span>
    </div>
    <div class="col-xs-12 m-t-5">
        <span>Result: </span>
        <span ng-bind="home.lastGame.result"></span>
    </div>
    <div class="col-xs-12 m-t-5">
        <span>Duration: </span>
        <span ng-bind="home.lastGame.duration | formatValue : 'duration'"></span>
    </div>
    <div class="col-xs-12 m-t-5">
        <span>Number of dice: </span>
        <span ng-bind="home.lastGame.number_of_dice + ' dice'"></span>
    </div>
    <div class="col-xs-12 m-t-5">
        <span>Timestamp: </span>
        <span ng-bind="home.lastGame.created_at"></span>
    </div>
</div>